


<div>
    <main id="contacts_main" style="float: left; vertical-align: top;">

   		 <h3 class="info_title">ADDRESS</h3>
   		 <p class="address">
	   		 150 Crown Street<br>
	   		 Brooklyn, NY 11225 <br><br>
   		 </p>	   
   		
       
	    <h3  class="info_title">BUSINESS HOURS</h3>
	    <p >
	    Monday	&nbsp&nbsp			9am-5pm<br>
	    Tuesday	&nbsp&nbsp			9am-5pm<br>
	    Wednesday	&nbsp&nbsp	9am-5pm<br>
	    Thursday	&nbsp&nbsp		9am-5pm<br>
	    Friday	&nbsp&nbsp				9am-5pm<br>
	    Saturday&nbsp&nbsp			9am-5pm<br>
	    Sunday&nbsp&nbsp				CLOSED<br>
	    </p>

    </main>
    <aside class="more_info"style="float: left; ">
    <br>
    <h3 class="info_title">CONTACT INFO</h3>
   		 <p class="contact_info">Phone: 718-363-7737 <br>
	    Email: shakilla.rj@gmail.com <br><br>
		</p> 
	</aside>
      <figure  id="map_canvas" style="width: 450px;  height: 350px; left:0px;right:0px;bottom:0px;top:0px;  float: right;">
    </figure>
  </div>