/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}
/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}


a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	border-bottom: 3px solid #800000;
	padding: 1.5em 0;
	background-image: -moz-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -o-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
}
header h1 {
	color: #800000;
		text-align: center;
}
header h2 {
	font-style: italic;
		text-align: center;
}
     

header img {
	float: left;
	padding: 0 30px;
	 width: 80px;
		      height: 80px;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
 
 #loc_logo {
		      width: 80px;
		      height: 80px;
	
	      }

/* the styles for the navigation bar */
nav {
	clear: left;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid #800000;
}
nav ul {
	margin-left: 0;
	margin-bottom: .5em;
	list-style: none;
	padding: .5em 2em 0 0;
}
nav li {
	display: inline;
	padding: 0 1.5em;
	border-right: 2px solid black;
	font-weight: bold;
}
nav a.current { color: #800000; }
/* the styles for the section */



html {
    position: relative;
    z-index: 1;
    /***
  width:  1000px;  
	height:600px;  ***/
	 top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

}		
html::before{
	content: " ";
	 z-index: -1;
  position: absolute;
    background: url(https://dl.dropboxusercontent.com/u/24749588/web-site/images/crownofglory.jpg) center center;
   /**  background-size: contain; **/
    opacity: .4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

.intro{
	font-weight: 500;
		widgth: 65%; margin: 20px; padding: 10px;
}
.signature {
float: right;

}

/* the styles for the footer */
footer {
	border-top: 3px solid #800000;
	clear: both;
}
footer p {
	padding: 1em 0;
	text-align: center;
}
